<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="form-container text-center border border-dark rounded p-5" style="width:370px">
        <div  class="text-white rounded w-75 m-auto p-2" style="background-color: orange">
            <h1 class="h4 m-auto">Pay My Buddy</h1>
        </div>
        <form th:action="@{/login}" method="post" class="mt-5">
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Username" required class="form-control"/>
                <label for="username" class="sr-only">Username</label>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="Mot de passe" required class="form-control"/>
                    <div class="input-group-append">
                        <span class="input-group-text" id="togglePassword" style="cursor: pointer">
                            <i class="bi bi-eye-slash"></i>
                        </span>
                    </div>
                </div>
                <label for="password" class="sr-only">Mot de passe</label>
            </div>
            <button type="submit" class="btn btn-primary font-weight-bold mt-4">Se connecter</button>
        </form>
        <div class="d-flex flex-column align-items-center">
            <!-- Afficher un message d'erreur si le paramètre 'error' est présent -->
            <div th:if="${param.error}" class="alert alert-danger mt-3 w-100" role="alert">
                [[${error}]]
            </div>
        </div>
        <div>
            <p class="">Pas encore inscrit ?
                <a href="" th:href="@{/register}" class="link-primary">Créer un compte</a>
            </p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    const togglePassword = document
        .querySelector('#togglePassword');
    const password = document.querySelector('#password');
    togglePassword.addEventListener('click', () => {
        // Toggle the type attribute using
        // getAttribure() method
        const type = password
            .getAttribute('type') === 'password' ?
            'text' : 'password';
        password.setAttribute('type', type);
        // Toggle the eye and bi-eye icon
        this.classList.toggle('bi-eye');
    });
</script>
</body>
</html>