<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Profil</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span class="navbar-brand mb-0 h1">Pay My Buddy</span>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/transfer}">Transférer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-primary" aria-current="page" href="#" th:href="@{/profile}">Profil<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/contact}">Ajouter relation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/logout}">Se déconnecter</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Content specific to Edit Profile -->
<div class="container mt-5 d-flex justify-content-center align-items-center">
    <form th:action="@{/profile}" th:object="${user}" method="post" class="needs-validation" novalidate>
        <div class="d-flex">
            <div class="container-fluid">
                <div class="form-group">
                    <div class="d-flex">
                        <label for="username" class="w-50">Username</label>
                        <input type="text" id="username" name="username" class="form-control w-50" th:field="*{username}" required>
                    </div>
                    <div class="invalid-feedback">
                        Veuillez fournir un nom d'utilisateur.
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <label for="email" class="w-50">Mail</label>
                        <input type="email" id="email" name="email" class="form-control" th:field="*{email}" required>
                    </div>
                    <div class="invalid-feedback">
                        Veuillez fournir une adresse email valide.
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <label for="password" class="w-50">Mot de passe</label>
                        <input type="password" id="password" name="password" class="form-control" th:placeholder="${#strings.repeat('•', 8)}" th:field="*{password}">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-end">
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
        </div>

        <div class="d-flex flex-column align-items-center">
            <!-- Afficher un message d'erreur si le paramètre 'error' est présent -->
            <div th:if="${param.error}" class="alert alert-danger mt-3" role="alert">
                Erreur lors de la mise à jour des informations personnelles. Veuillez réessayer.
            </div>

            <!-- Afficher un message de succès si le paramètre 'success' est présent -->
            <div th:if="${param.success}" class="alert alert-success mt-3" role="alert">
                Mise à jour des informations personnelles réalisée avec succès!
            </div>
        </div>
    </form>
</div>

<!-- Optional: Include additional scripts or footer content if needed -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>